.style-ctp-mocha {
	--background: #1e1e2e;
	--secondary-1: #181825;
	--secondary-2: #11111b;
	--surface-0: #313244;
	--surface-1: #45475a;
	--surface-2: #585b70;
	--text: #cdd6f4;
	--subtext-1: #bac2de;
	--subtext-0: #a6adc8;
	--active: #fab387;
	--blue: #89b4fa;
	--red: #f38ba8;

	--code-keyword: #cba6f7;
	--code-operator: #89dceb;
	--code-class-name: #f9e2af;
	--code-number: #fab387;
	--code-comment: #9399b2;
}

.style-ctp-latte {
	--background: #eff1f5;
	--secondary-1: #e6e9ef;
	--secondary-2: #dce0e8;
	--surface-0: #ccd0da;
	--surface-1: #bcc0cc;
	--surface-2: #acb0be;
	--text: #4c4f69;
	--subtext-1: #5c5f77;
	--subtext-0: #6c6f85;
	--active: #fe640b;
	--blue: #1e66f5;
	--red: #d20f39;

	--code-keyword: #8839ef;
	--code-operator: #04a5e5;
	--code-class-name: #df8e1d;
	--code-number: #fe640b;
	--code-comment: #7c7f93;
}
